In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
#Data Preprocessing

df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#check data type and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
#Divide into X and y
X = df.iloc[:,3:-1].values
y = df.iloc[:,-1:].values
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [10]:
#Label encoding
#Encoding gender column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [13]:
#Encoding Geography columns
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder',OneHotEncoder(),[1])], remainder = 'passthrough')
X = ct.fit_transform(X)
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [14]:
#Train test split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [16]:
#Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
#Bulid the model
#Initializing the ANN

ann = tf.keras.models.Sequential()

#Adding input layer and first hidden layer
ann.add(tf.keras.layers.Dense(units = 6, activation ='relu'))

#Adding second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

#adding output layer
ann.add(tf.keras.layers.Dense(units =1, activation='sigmoid'))

In [18]:
#Compiling the model
ann.compile(optimizer = 'adam',loss='binary_crossentropy', metrics = ['accuracy'])

In [19]:
#Training the ANN on training set
ann.fit(X_train, y_train, batch_size=32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 2s 3ms/step - loss: 0.5196 - accuracy: 0.7876
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4727 - accuracy: 0.7928
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4555 - accuracy: 0.7933
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4437 - accuracy: 0.7940
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4341 - accuracy: 0.7965
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4262 - accuracy: 0.8009
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4177 - accuracy: 0.8051
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4078 - accuracy: 0.8095
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3977 - accuracy: 0.8263
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3882 - accuracy: 0.8319
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3801 - accuracy: 0.8369
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3738 - accuracy: 0.8394
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3694 - accuracy: 0.8431
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3658 - accuracy: 0.8424
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3627 - accuracy: 0.8466
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3607 - accuracy: 0.8474
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3585 - accuracy: 0.8503
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3567 - accuracy: 0.8505
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3553 - accuracy: 0.8503
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3543 - accuracy: 0.8524
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3526 - accuracy: 0.8535
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3515 - accuracy: 0.8520
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3505 - accuracy: 0.8537
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3497 - accuracy: 0.8543
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3485 - accuracy: 0.8556
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3480 - accuracy: 0.8545
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3471 - accuracy: 0.8574
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3466 - accuracy: 0.8566
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3459 - accuracy: 0.8562
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3450 - accuracy: 0.8571
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3446 - accuracy: 0.8574
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3444 - accuracy: 0.8579
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3438 - accuracy: 0.8584
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3437 - accuracy: 0.8587
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3430 - accuracy: 0.8584
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3433 - accuracy: 0.8583
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3423 - accuracy: 0.8595
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3416 - accuracy: 0.8601
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3416 - accuracy: 0.8580
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3415 - accuracy: 0.8600
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8604
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3406 - accuracy: 0.8610
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8594
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8602
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8621
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8606
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3400 - accuracy: 0.8618
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3396 - accuracy: 0.8606
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3394 - accuracy: 0.8610
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8604
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8611
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3385 - accuracy: 0.8606
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8621
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3388 - accuracy: 0.8615
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8605
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8614
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8633
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8608
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8606
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8619
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3373 - accuracy: 0.8627
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8602
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3377 - accuracy: 0.8614
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3379 - accuracy: 0.8606
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3375 - accuracy: 0.8609
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3373 - accuracy: 0.8606
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3371 - accuracy: 0.8614
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3373 - accuracy: 0.8606
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3371 - accuracy: 0.8601
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3369 - accuracy: 0.8609
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3366 - accuracy: 0.8615
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3371 - accuracy: 0.8601
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3370 - accuracy: 0.8624
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3369 - accuracy: 0.8616
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3364 - accuracy: 0.8610
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3364 - accuracy: 0.8622
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8636
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8612
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8605
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8619
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3362 - accuracy: 0.8608
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8614
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8614
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3357 - accuracy: 0.8619
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3355 - accuracy: 0.8625
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8620
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3360 - accuracy: 0.8622
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3353 - accuracy: 0.8612
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3361 - accuracy: 0.8630
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3357 - accuracy: 0.8618
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3352 - accuracy: 0.8630
Epoch 92/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3357 - accuracy: 0.8622
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3353 - accuracy: 0.8637
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8615
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8631
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8626
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8624
Epoch 98/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8621
Epoch 99/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8619
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3348 - accuracy: 0.8626

#Making predictions and evaluating the model

Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer?

In [22]:
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [24]:
print(ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000 ]]))>0.5)

[[False]]

In [28]:
#Prediction on test set

y_pred = ann.predict(X_test)
y_pred = y_pred>0.5
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [29]:
#Making the confusion matrix

from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1537   84]
 [ 188  191]]

0.864